
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">

    <tr >
        <th>#</th>
        <th>şehir Adı</th>
        <th>Nüfus</th>
        <th>Ülke Adı</th
    </tr>

    <tr>
        <td>@ViewBag.v1</td>
        <td>@ViewBag.v2</td>
        <td>@ViewBag.v3</td>
        <td>@ViewBag.v4</td>

    </tr>
   
    
</table>
 <a href="/Home/Index" class="btn btn-info">Index</a>